google-adk
pytest
pytest-asyncio
deprecated
pandas
tabulate
tqdm
scikit-learn
pypdf
mcp[cli]
requests
starlette
uvicorn[standard]
python-dotenv
fastapi
pydantic
opentelemetry-instrumentation-google-genai